<div class="w-full bg-{{ color }}-light border-t-4 border-{{ color }} rounded-b text-{{ color }}-darkest px-4 py-3 shadow mb-8" role="alert">
  <div class="flex items-center py-1">
    @!yield($slot.main)
  </div>
</div>
