<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Registrate</title>
	<link rel="icon" type="image/png" href="{{ assetsUrl('img/logoof01.png') }}" />

	<!-- Custom fonts for this template-->
	{{ style('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900') }}
	{{ style('libs/font-4.9.95/css/materialdesignicons.min') }}
	<!-- VUE STYLES -->
	{{ style('libs/vuetify-2.2.14/dist/vuetify.min') }}
	{{ style('libs/cropperjs-1.5.6/dist/cropper.min') }}
	{{ style('libs/nprogress-0.2.0/nprogress') }}
</head>

<body>
	{{ script('libs/nprogress-0.2.0/nprogress') }}
	<script type="text/javascript">
		NProgress.start();
	</script>
	<div id="app">
		<v-app id="login-page" v-cloak>
			<v-content>
				<v-container :fill-height="centered" :fluid="centered">
					<v-row align="center" justify="center">
						<v-col sm="10" md="8">
							<v-card class="elevation-12">
								<v-toolbar dense dark color="blue">
									<v-toolbar-title>Crea una cuenta!</v-toolbar-title>
								</v-toolbar>
								@if(flashMessage('error'))
								<v-card-text class="pt-0 pb-0">
									<v-alert type="error" dense outlined class="mb-0 body-2">
										{{ flashMessage('error') }}
									</v-alert>
								</v-card-text>
								@endif
								<v-card-text class="pt-1 pb-0">
									<v-form action="/register" method="POST" enctype="multipart/form-data" ref="form" v-model="valid">
										<v-row class="pr-3 pl-3">
											{{ csrfField() }}
											<v-col cols="12" sm="6" md="4">
												<v-text-field name="dni_id" v-model="dni" :rules="dniRules" label="DNI" required>
												</v-text-field>
											</v-col>
											<v-col cols="12" sm="6" md="4">
												<v-text-field name="name" v-model="name" @input="name = name.toUpperCase()" :rules="nameRules"
													label="Nombres" required>
												</v-text-field>
											</v-col>
											<v-col cols="12" sm="6" md="4">
												<v-text-field name="surname" v-model="lastname" @input="lastname = lastname.toUpperCase()"
													:rules="lastnameRules" label="Apellidos" required>
												</v-text-field>
											</v-col>
											<v-col cols="12" sm="6" md="4">
												<v-select v-model="gender" :items="genders" :rules="genderRules" label="Género">
												</v-select>
												<input type="hidden" name="gender" :value="gender">
											</v-col>
											<v-col cols="12" sm="6" md="4">
												<v-text-field name="email" v-model="email" :rules="emailRules" label="E-mail" required>
												</v-text-field>
											</v-col>
											<v-col cols="12" sm="6" md="4">
												<v-text-field type="password" name="password" v-model="password" :rules="passwordRules"
													label="Contraseña" required>
												</v-text-field>
											</v-col>

											<v-col cols="12" sm="6" md="4">
												<v-select v-model="selectDepartment" :items="departments" item-text="name" item-value="code"
													:rules="selectDepartmentRules" label="Departamento" @change="onChangeDepartments"
													return-object></v-select>
												<input type="hidden" name="department" :value="selectDepartment.name">
											</v-col>
											<v-col cols="12" sm="6" md="4">
												<v-select :disabled="isdepProvincesEmpty" v-model="selectProvince" :items="depProvinces"
													item-text="name" item-value="code" :rules="selectProvinceRules" label="Provincia"
													@change="onChangeProvincies" return-object>
												</v-select>
												<input type="hidden" name="province" :value="selectProvince.name">
											</v-col>
											<v-col cols="12" sm="6" md="4">
												<v-select :disabled="isproDistrictsEmpty" v-model="selectDistrict" :items="proDistricts"
													item-text="name" item-value="code" :rules="selectDistrictRules" label="Distrito"
													return-object>
												</v-select>
												<input type="hidden" name="district" :value="selectDistrict.name">
											</v-col>
											<v-col cols="12" sm="6" md="4">
												<v-text-field name="address" v-model="address" :rules="addressRules" label="Direccion" required>
												</v-text-field>
												<input type="hidden" name="user_type" value="{{ user_type }}">
											</v-col>
											<v-col cols="12" sm="6" md="4">
												<v-file-input name="profile_photo" :rules="rulesPhoto" accept="image/png, image/jpeg, image/bmp"
													placeholder="Selecciona una foto" prepend-icon="mdi-camera" label="Foto de perfil (opcional)">
												</v-file-input>
											</v-col>

										</v-row>
										<v-card-actions>
											<v-row>
												<v-col cols="12" sm="5" md="3">
													<v-btn type="submit" :disabled="!valid" color="success">
														<v-icon class="mr-1">mdi-account-plus</v-icon> Registrarse
													</v-btn>
												</v-col>
												<v-col cols="12" sm="7" md="9" class="text-right">
													<v-btn text small color="orange" href="/login" align="right">¿Ya tienes una cuenta? Inicia
														sesion
													</v-btn>
												</v-col>
											</v-row>
										</v-card-actions>


									</v-form>
								</v-card-text>
							</v-card>
						</v-col>
					</v-row>
				</v-container>
			</v-content>
		</v-app>
	</div>
	<style>
		[v-cloak] {
			display: none;
		}

		#login-page {
			/* background-image: url('../assets/hands_joined_team.jpeg'); */
			background-color: #4c0220;

			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}
	</style>
	<!-- VUE -->
	{{ script('libs/vue-2.6.11/dist/vue.min') }}
	<!-- VUETIFY -->
	{{ script('libs/vuetify-2.2.14/dist/vuetify.min') }}

	{{ script('libs/cropperjs-1.5.6/dist/cropper.min') }}
	{{ script('libs/lodash-4.17.15/lodash.min') }}
	{{--  This script is to fetch all object from controller to javascript variables into the edge view  --}}
	<script type="text/javascript">
		let departments = {{{ toJSON(ubigeo_data) }}};
	</script>
	{{--  SCRIPT TO CREATE THE MAIN VUE OBJECT  --}}
	{{ script('js/user/create') }}
</body>

</html>